.fillScreen {
    height: 100vh;
}

.verticalCenter {
    vertical-align: middle;
}

.matchParent {
    width: 100%;
    height: 100%;
}

.paddingTop40 {
    padding-top: 40px;
}

.paddingTop80 {
    padding-top: 80px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.invisible {
    display: none;
}

.linkButton {
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
}